.form-wrapper {
    width: 100%;
    max-width: 1515px;
    height: 1068px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
}

.form-content {
    width: 680px;
    height: 678px;
}

.form-heading {
    text-align: center;
    margin-bottom: 40px;
}

.heading-title {
    font-size: 36px;
}

.form-group {
    margin-bottom: 40px;
}

.form-group-title {
    margin-left: 0px;
    margin-bottom: 5px;
}

.form-label-item {
    font-weight: bold;
    font-size: 24px;
}

.form-group input {
    width: 680px;
    height: 45px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
}

.form-button-submit {
    width: 680px;
    height: 60px;
    font-size: 26px;
    font-weight: bold;
    background-color: #FF5555;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
    margin-top: 80px;
}

.error {
    color: red;
}