.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px auto;
}

.form-ttl {
    font-size: 36px;
    font-weight: bold;
}

.user-box {
    display: flex;
    align-items: center;
    margin: 60px 0;
}

.user-box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.user-placeholder {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.user-box input[type="file"] {
    display: none;
}

.img-btn {
    display: inline-block;
    background-color: #fff;
    color: #FF5555;
    border: 2px solid #FF5555;
    border-radius: 10px;
    width: 179px;
    height: 49px;
    line-height: 49px;
    margin-left: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-group-ttl {
    margin: 20px 0;
}

.form-label {
    font-weight: bold;
    font-size: 24px;
}

.form-group input {
    width: 680px;
    height: 55px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    font-size: 18px;
    color: #5F5F5F;
    padding: 0 10px;
    box-sizing: border-box;
}

.form-button-submit {
    width: 680px;
    height: 60px;
    font-size: 26px;
    font-weight: bold;
    background-color: #FF5555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 50px 0;
}

.error {
    color: red;
    margin-top: 5px;
    font-size: 16px;
}