.content-wrapper {
    width: 680px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.content-title {
    font-size: 36px;
    font-weight: bold;
}

.group-title {
    display: inline-block;
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.image-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 680px;
    height: 186px;
    border: 1px dashed #5F5F5F;
    border-radius: 4px;
}

.image-box input[type="file"] {
    display: none;
}

.image-button {
    display: inline-block;
    background-color: #fff;
    color: #FF5555;
    border: 2px solid #FF5555;
    border-radius: 10px;
    width: 179px;
    height: 49px;
    line-height: 49px;
    margin-left: 30px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.group-sub-title {
    display: block;
    font-size: 30px;
    font-weight: bold;
    color: #5F5F5F;
    border-bottom: 1px solid #5F5F5F;
    padding-bottom: 10px;
    margin: 60px 0 30px;
}

.category-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 30px 10px;
    margin: 40px 0px 40px 10px;
}

.category-button input {
    display: none;
}

.category-button span {
    border: 1px solid red;
    border-radius: 20px;
    padding: 3px 20px;
    color: red;
    font-weight: 500;
    font-size: 15px;
    background-color: #fff;
    cursor: pointer;
}

.category-button input:checked+span {
    background-color: red;
    color: white;
}

.condition-box {
    position: relative;
}

.condition-box select {
    width: 680px;
    height: 45px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    padding: 0px 30px 0px 10px;
    font-size: 16px;
    appearance: none;
    background-color: #fff;
    background-image: none;
    position: relative;
}

.condition-box select:focus {
    background-color: #636769;
    color: #fff;
    outline: none;
}

.condition-box::after {
    content: "▼";
    position: absolute;
    left: 650px;
    top: 70px;
    pointer-events: none;
    font-size: 14px;
    color: #5F5F5F;
}

.group-box {
    margin-bottom: 20px;
}

.group-box input,
.group-box textarea {
    width: 680px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    font-size: 18px;
    color: #5F5F5F;
    padding: 10px;
    box-sizing: border-box;
}

.group-box input {
    height: 45px;
    padding: 0 10px;
}

.group-box textarea {
    height: 125px;
}

.price-input {
    position: relative;
    display: inline-block;
}

.price-input input {
    font-size: 18px;
    color: #5F5F5F;
    padding: 10px 10px 10px 30px;
}

.price-input::before {
    content: "¥";
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.sell-button {
    width: 680px;
    height: 60px;
    font-size: 26px;
    font-weight: bold;
    background-color: #FF5555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 70px 0;
}

.error-message {
    color: red;
    margin-top: 5px;
    font-size: 16px;
}