.form-wrapper {
    width: 100%;
    max-width: 1515px;
    height: 982px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-heading {
    text-align: center;
    margin-bottom: 30px;
}

.heading-title {
    font-size: 36px;
}

.form-group {
    width: 100%;
    margin-bottom: 20px;
}

.form-group-title {
    margin-bottom: 5px;
}

.form-label-item {
    font-weight: bold;
    font-size: 24px;
}

.form-input-text input {
    width: 680px;
    height: 59px;
    border: 1px solid #5F5F5F;
    border-radius: 4px;
    font-size: 18px;
    padding: 0 10px;
    box-sizing: border-box;
}

.form-button {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.form-button-submit {
    width: 100%;
    height: 65px;
    font-size: 26px;
    font-weight: bold;
    background-color: #FF5555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-link {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-button-submit {
    text-decoration: none;
    font-size: 20px;
    color: #0073CC;
}

.form-error {
    color: red;
    margin-top: 5px;
    font-size: 16px;
}