.mypage-head {
    width: 100%;
    margin: 60px 0;
}

.mypage-head-inner {
    max-width: 1000px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user {
    display: flex;
    align-items: center;
    gap: 40px;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.user-rating p {
    font-size: 40px;
    margin: 0;
    line-height: 1;
}

.user-rating .star-filled {
    color: #FFF048;
}

.user-rating .star-empty {
    color: #D9D9D9;
}

.user-img img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.user-name {
    font-size: 36px;
    font-weight: bold;
    margin: auto;
}

.profile-edit-btn {
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
    color: #FF5555;
    border: 2px solid #FF5555;
    border-radius: 10px;
    width: 310px;
    text-align: center;
    padding: 5px 20px;
}

.mypage-nav {
    display: flex;
    gap: 60px;
    border-bottom: 2px solid #5F5F5F;
    padding-left: 100px;
}

.mypage-nav a {
    text-decoration: none;
    height: 40px;
    font-size: 24px;
    color: #5F5F5F;

    display: flex;
    justify-content: center;
    align-items: center;
}

.mypage-nav a.active {
    color: red;
    font-weight: bold;
}

.mypage-nav .transaction-link {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
    height: 40px;

    white-space: nowrap;
    overflow: visible;
}

.mypage-nav .badge {
    position: relative;
    margin-left: 6px;
    top: 1px;
    width: 27px;
    height: 26px;
    border-radius: 10px;

    background-color: #FF0000;
    color:#FFFFFF;
    font-size: 24px;
    font-weight: bold;

    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.product-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 50px;
    margin: 80px auto 0;
    max-width: 1400px;
    justify-items: center;
}

.product-card {
    text-align: center;
    border-radius: 4px;
}

.product-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.product-detail {
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: center;
    margin-top: 8px;
}

.product-detail p {
    font-size: 25px;
    margin: 0;
}

.sold-label {
    font-size: 25px;
    color: red;
}

.img-wrapper {
    position: relative;
}

.unread-badge {
    position: absolute;
    top: 6px;
    left: 6px;

    min-width: 20px;
    height: 20px;
    padding: 0 6px;

    background-color: #FF0000;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;

    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: 5;
}

@media screen and (max-width: 860px) {
    .mypage-head {
        width: 100%;
        max-width: none;
        padding: 0 40px;
    }

    .profile-edit-btn {
        width: 250px;
        font-size: 20px;
        margin-left: 0;
    }

    .user-rating p {
        font-size: 30px;
    }

    .mypage-nav {
        padding-left: 0;
        justify-content: center;
    }

    .product-list {
        grid-template-columns: repeat(2, 1fr);
    }
}