.top-nav {
    margin-top: 40px;
    padding: 0 80px;
    border-bottom: 2px solid #5f5f5f;
}

.top-nav-menu {
    display: flex;
    gap: 20px;
}

.top-nav-item {
    width: 155px;
    height: 40px;
    text-align: right;
}

.top-nav-item a {
    text-decoration: none;
    font-size: 24px;
    color: #5f5f5f;
}

.top-nav-item a.active {
    color: red;
    font-weight: bold;
}

.products {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    gap: 50px;
    margin: 80px auto 0;
    max-width: 1400px;
    justify-items: center;
    padding: 0 20px;
}

.product-card {
    text-align: center;
    border-radius: 4px;
}

.product-card-img {
    width: 290px;
    height: 290px;
    object-fit: cover;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.product-card-detail {
    display: flex;
    gap: 20px;
    justify-content: left;
    align-items: center;
    margin-top: 8px;
}

.product-card-name {
    font-size: 25px;
    margin: 0;
}

.product-card-sold {
    font-size: 25px;
    color: red;
}

@media screen and (max-width: 1540px) {
    .products {
        gap: 70px 50px;
    }
}

@media screen and (max-width: 1400px) {
    .products {
        grid-template-columns: repeat(3, 1fr);
        padding: 0 40px;
    }
}