.verify-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 100px auto;
}

.verify-message {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
}

.verify-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 257px;
    height: 69px;
    background-color: #D9D9D9;
    border: 1px solid #000;
    border-radius: 10px;
    text-decoration: none;
    color: #000;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 40px;
    cursor: pointer;
}

.retry-box {
    text-align: center;
}

.retry-btn {
    font-size: 20px;
    color: #0073CC;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
    font-family: inherit;
}